body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: left;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: #D4F3B7;
}

.header-icons {
  z-index: 200;
  padding-left: 10px;
  height: 170px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0 20px;
  background-color: #D4F3B7;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 170px;
}